<button mat-icon-button matTooltip="Remind me">
    <mat-icon>add_alert</mat-icon>
</button>
<button mat-icon-button matTooltip="Collabarotor">
    <mat-icon>person_add</mat-icon>
</button>
<button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="menu">
    <mat-icon>color_lens</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <div *ngFor="let colors of colorsArray" fxLayout="row">
        <div *ngFor="let color of colors" class="colorsList">
            <button [ngStyle]="{ 'background-color': color.colorDetail }" matTooltip="{{ color.name }}" mat-mini-fab (click)="doColor(color)"></button>
        </div>
    </div>
</mat-menu>
<button mat-icon-button matTooltip="Add image">
    <mat-icon>photo</mat-icon>
</button>
<button mat-icon-button matTooltip="Archive" (click)="doArchive()">
    <mat-icon>archive</mat-icon>
</button>
<button mat-icon-button matTooltip="More" [matMenuTriggerFor]="list">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #list="matMenu">
    <button mat-button style="width: 3cm;" (click)="doDeleteNote()">Delete note</button><br/>
    <button mat-button style="width: 3cm;">Add label</button>
</mat-menu>