<div class="parent">
    <div fxLayout=column class="mycontainer" fxFlex="40" fxFlexOffset="30" fxLayoutAlign="center">
        <div>
            <mat-toolbar color=primary class="title">
                <span>Reset Password</span>
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user Registrationicon">verified_user</mat-icon>
            </mat-toolbar>
        </div>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input type="password" matInput placeholder="Enter new password" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput placeholder="Confirm password" />
        </mat-form-field>
        <button mat-raised-button color=primary>Confirm</button>
    </div>
</div>