<div class="parent">
    <form [formGroup]="formGroup">
        <div fxLayout=column class="mycontainer" fxFlex="40" fxFlexOffset="30" fxLayoutAlign="center">
            <mat-toolbar color=primary class="title">
                <span>Reset Password</span>
                <span style="color:pink;font-size: 0.9vw;padding-left: 0.2cm;">Fundoo</span>
                <span style="color:yellowgreen ; font-size: 0.9vw">Note</span>
                <mat-icon style="padding-left: 6.3cm;">perm_data_setting</mat-icon>
            </mat-toolbar>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input type="password" matInput placeholder="Enter new password" formControlName="newpassword" [type]="hide ? 'password':'text'" />
                <button mat-icon-button fxFlex="5">
                    <mat-icon fxFlex="5" matSuffix (click)="hide = !hide">visibility_off</mat-icon>
                </button>
                <mat-error>{{alertMessageNewPassword}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput placeholder="Confirm password" formControlName="confirmpassword" [type]="hide ? 'password':'text'" />
                <button mat-icon-button fxFlex="5">
                    <mat-icon fxFlex="5" matSuffix (click)="hide = !hide">visibility_off</mat-icon>
                </button>
                <mat-error>{{alertMessageConfirmPassword}}</mat-error>
            </mat-form-field>
            <button mat-raised-button color=primary>Confirm</button>
        </div>
    </form>
</div>