.parent {
    background-color: whitesmoke;
    height: 100%;
}

.parent .mycontainer mat-form-field {
    padding-right: 3rem;
    padding-left: 3rem;
}

.parent .mycontainer mat-toolbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.mycontainer .title {
    border-radius: 7px;
}

form {
    height: 100%;
}

.mycontainer {
    color: aliceblue;
    background-color: darkgray;
    border-radius: 7px;
    align-content: center;
    align-items: center;
    align-self: center;
}