.parent {
    background-color: whitesmoke;
    height: 100%;
}

.parent .mycontainer mat-form-field {
    padding-right: 3rem;
    padding-left: 3rem;
}

.parent .mycontainer mat-toolbar {
    display: flex;
    flex-wrap: nowrap;
}

.mycontainer .title {
    border-radius: 7px;
}

form {
    height: 100%;
}

.mycontainer {
    color: aliceblue;
    background-color: darkgray;
    border-radius: 7px;
    align-self: center;
    box-shadow: 3px 4px 5px rgb(3, 32, 87);
}