.mycontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: transparent;
}

img {
    height: 0.8cm;
    width: 0.8cm;
    padding: 0.2cm;
}

.tool-bar {
    display: flex;
    height: 100%;
}

.searchbar input {
    padding-left: 2cm;
    width: 17cm;
    height: 1cm;
    border-radius: 10px;
    margin-left: 2cm;
    outline: none;
    border-color: bisque;
}

.icons {
    padding: 1cm;
}

.SideBarText {
    margin-top: 4cm;
    margin-left: 1cm;
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.sidenav-content {
    justify-content: center;
    width: 100%;
    align-content: center;
    height: 100%;
}

.navbutton {
    height: 1.5cm;
    text-align: left;
    width: 7.36cm;
    border-radius: 0px 50px 50px 0px;
}

.navbuttons button:hover {
    height: 1.5cm;
    text-align: left;
    width: 7.36cm;
    border-color: azure;
    border-radius: 0px 50px 50px 0px;
    background-color: bisque;
}

.sidenav-div {
    height: 100%;
    width: 100%;
    border: none;
    border-color: whitesmoke;
    margin: 0;
    top: 0;
    overflow: hidden;
}

.sidenav-container {
    height: 100%;
    width: 100%;
    display: flex;
    border-color: bisque;
    overflow: hidden;
}

.matSidenav {
    font-size: smaller;
    font-family: monospace;
    justify-content: space-around !important;
    border: none;
}