<div class="mycontainer">
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon matTooltip="Main menu">menu</mat-icon>
        </button>
        <img src="..//assets//sample4.jpg">
        <span>Fundoo</span>
        <span style="color: gold;">Note</span>
        <div class="searchbar">
            <input type="text" placeholder="Search" fxLayoutAlign="center center">
        </div>
        <div class="icons">
            <button mat-icon-button>
                <mat-icon matTooltip="Refresh">refresh</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!view" matTooltip="List View" (click)="getView()">
                <mat-icon matTooltip="List View">view_stream</mat-icon>
            </button>
            <button mat-icon-button *ngIf="view" matTooltip="Grid View" (click)="getView()">
                <mat-icon>view_module</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon matTooltip="Settings">settings</mat-icon>
            </button>
            <button mat-icon-button routerLink="/" matTooltip="Fundoo Account" class="account-button">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div class="sidenav-div">
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav class="matSidenav" mode="slide" #sidenav>
                <div class="navbuttons">
                    <button mat-button class="navbutton" [routerLink]="['/dashboard']">
                        <mat-icon class="sidenav-icon">emoji_objects</mat-icon>
                        <span style="padding-left: 0.8cm;">Notes</span>
                    </button>
                </div>
                <div class="navbuttons">
                    <button mat-button class="navbutton" (click)="onReminder()">
                <mat-icon>notifications</mat-icon>
                <span style="padding-left: 0.8cm;">Reminders</span>
                </button>
                </div>
                <div class="navbuttons" *ngFor="let label of labels">
                    <button mat-button class="navbutton">
                <mat-icon style="padding-right: 0.7cm;">label</mat-icon>
                {{ label.name }}
                </button>
                </div>
                <div class="navbuttons">
                    <button mat-button class="navbutton" (click)="openEditLabelDialog()">
                <mat-icon>edit</mat-icon>
                <span style="padding-left: 0.8cm;">Edit labels</span>
                </button>
                </div>
                <div class="navbuttons">
                    <button mat-button class="navbutton" (click)="onArchive()">
                <mat-icon>archive</mat-icon>
                <span style="padding-left: 0.8cm;">Archive</span>
                </button>
                </div>
                <div class="navbuttons">
                    <button mat-button class="navbutton" (click)="onTrash()">
                <mat-icon>delete</mat-icon>
                <span style="padding-left: 0.8cm;">Trash</span>
                </button>
                </div>
                <div class="SideBarText">
                    <span>Privacy . Term</span><br/>
                    <span>Open source licenses</span>
                </div>
            </mat-sidenav>
            <mat-sidenav-content class="sidenav-content">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>