.parent {
    background-color: whitesmoke;
    height: 100%;
}

.parent form {
    height: 100%;
}

.parent .mycontainer mat-form-field {
    padding-left: 3rem;
    padding-right: 3rem;
}

.parent .mycontainer mat-toolbar {
    display: flex;
    flex-wrap: nowrap;
}

.mycontainer .title {
    border-radius: 7px;
}

.mycontainer {
    color: aliceblue;
    background-color: darkgray;
    border-radius: 7px;
    align-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 3px 4px 5px rgb(3, 32, 87);
}

.buttons {
    flex: auto;
    flex-direction: inherit;
    flex-shrink: inherit;
}

.button {
    padding: 7px;
    margin-left: 5cm;
}