<div class="parent">
    <form [formGroup]="form" (ngSubmit)="forgetPasswordNow()">
        <div fxLayout=column class="mycontainer" fxFlex="40" fxFlexOffset="30" fxLayoutAlign="center">
            <mat-toolbar color=primary class="title">
                <span>Forget Password</span>
                <span style="color:pink;font-size: 0.9vw;padding-left: 0.2cm;">Fundoo</span>
                <span style="color:yellowgreen ; font-size: 0.9vw">Note</span>
                <mat-icon style="padding-left: 6.2cm;">help</mat-icon>
            </mat-toolbar>
            <mat-form-field>
                <mat-label>Your email address</mat-label>
                <input type="email" matInput placeholder="Enter email" formControlName="email" [(ngModel)]="forget.email" />
                <mat-icon fxFlex="5">email</mat-icon>
                <mat-error>{{alertMessageEmail}}</mat-error>
                <mat-error *ngIf="form.get('email').hasError('email')">Provide valid email!!</mat-error>
            </mat-form-field>
            <div class="button">
                <button mat-raised-button color=primary type="submit" routerLink="/resetPassword">Reset password</button>
            </div>
        </div>
    </form>
</div>