<div class="parent">
    <div class="mycontainer" fxLayout=column>
        <mat-toolbar color="primary">
            <span class="material-icons">
                assignment
                </span> FundooNotes
            <div class="searchbar">
                <input type="text" placeholder="Search" fxLayoutAlign="center center">
            </div>
            <div>
                <button mat-icon-button>
                    <mat-icon fxLayout=row>refresh</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon fxLayout=row>view_stream</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon fxLayout=row>settings</mat-icon>
                </button>
                <button mat-icon-button routerLink="/login">
                    <mat-icon fxLayout=row>account_circle</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    </div>
</div>