<div class="parent">
    <div fxLayout=column class="mycontainer" fxFlex="40" fxFlexOffset="30" fxLayoutAlign="center">
        <div>
            <mat-toolbar color=primary class="title">
                <span>Forget Password</span>
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user Registrationicon">verified_user</mat-icon>
            </mat-toolbar>
        </div>
        <mat-form-field>
            <mat-label>Your email address</mat-label>
            <input type="email" matInput placeholder="Enter email" />
        </mat-form-field>
        <button mat-raised-button color=primary type="submit" routerLink="/reset-password">Reset password</button>
    </div>
</div>