<div class="expansionBar">
    <mat-card class="note-container" *ngIf="!open" (click)="openNote()">
        <input matInput placeholder="Add a note..." />
        <div class="uppericons">
            <button mat-icon-button>
                <mat-icon matTooltip="New list">check_box</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon matTooltip="New note with drawing">colorize</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon matTooltip="New note with image">photo</mat-icon>
            </button>
        </div>
    </mat-card>
    <mat-card class="note-containerpart" *ngIf="open" fxLayout="column">
        <textarea matInput type="text" placeholder="Title" [formControl]="title" [ngModel]="note.title"></textarea>
        <textarea matInput type="text" placeholder="take a note" [formControl]="description" [ngModel]="note.description"></textarea>
        <div class="icons">
            <app-icons></app-icons>
            <button mat-button style="margin-left: 5cm;" (click)="addNoteNow()">
                close
        </button>
        </div>

    </mat-card>
</div>