.expansionBar {
    padding-top: 3cm;
    padding-left: 12cm;
    padding-right: 9cm;
}

.expansionBar input {
    height: 1cm;
    max-width: 7cm;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-radius: 0.4rem;
}

.uppericons {
    margin-left: 4cm;
}